* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;

   --bg-page: #000000;

   --bg-favoriteButton: #065E7C;
   --bg-favoriteButtonHover: #FFFFFF;

   --color-table: #092D38;
   --colorTable-primary: #06181c50;
   --colorTable-secondary: #06181C;

   --default-font-family: 'Roboto', sans-serif;

   --transition-buttons: all 0.3s ease 0s;
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   border-width: 0;
}

body {
   background-color: var(--bg-page);
}

body * {
   font-family: var(--default-font-family);
   font-weight: bold;
}

#app {
   padding: 5rem 2rem;
   max-width: 1120px;
   margin: 0 auto;

   display: grid;
   gap: 8.7rem;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.searchForm {
   display: flex;
   gap: .8rem;
}

.searchForm input {
   background-color: #06181C;
   border: none;

   width: 46.2rem;
   height: 4.8rem;
   padding: 2rem;

   color: #7C7C8A;

   border-radius: .5rem;
}

.searchForm input:focus {
   color: #E1E1E6;  
}

.searchForm button {
   text-transform: uppercase;
   font-size: 1.4rem;
   line-height: 2.4rem;

   background-color: var(--bg-favoriteButton);

   color: #FFFFFF;

   width: 17rem;
   height: 4.8rem;
   border-radius: 0.5rem;

   cursor: pointer;

   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 1.2rem 3.2rem;
   gap: .8rem;
}

.searchForm button:hover {
   color: var(--bg-favoriteButton);
   background-color: var(--bg-favoriteButtonHover);

   transition: var(--transition-buttons);
}

.searchForm button:hover path {
   fill: var(--bg-favoriteButton);

   transition: var(--transition-buttons);
}

table {
   border-collapse: collapse;
   overflow: hidden;
   border: solid 1px var(--bg-favoriteButton);
   border-radius: 1.2rem;
   width: 100%;
   
   color: #E1E1E6;
}

table * {
   font-size: 1.8rem;
   text-align: left;
}

table th {
   height: 6.4rem;
   background-color: var(--color-table);
   line-height: 3.2rem;
}

table tbody tr:nth-child(odd) {
   background: var(--colorTable-primary);
}

table tbody tr:nth-child(even) {
   background: var(--colorTable-secondary);
}

table th:first-child {
   padding: 0 10rem 0 4rem;
}

table td {
   text-align: left;
}

table td:first-child {
   padding: 2rem 0 2rem 4rem;
}

td.user {
   display: flex;
   align-items: center;
   gap: 1rem;
}

td.user img {
   width: 5rem;
   height: 5rem;

   object-fit: cover;
   border-radius: 50%;
}

td.user a {
   text-decoration: none;
   color: #E1E1E6;
}

td.user a span {
   font-weight: normal;
}

td .remove {
   background: none;
   border: none;

   color: #F75A68;
   cursor: pointer;
}

.emptyPage {
   display: flex;
   align-items: center;
   justify-content: center;

   gap: 4rem;

   height: 40rem;

   color: #4E5455;
}

.emptyPage img {
   width: 13.5rem;
   height: 12.5rem;
}

.emptyPage h1 {
   font-size: 4rem;
   line-height: 2.5rem;
}



